@font-face {
  font-family: Aventir;
  src: url("avenir_ff/AvenirLTStd-Roman.otf") format("opentype");
}

body {
  margin: 0px;
  padding: 0px;
  background-color: white;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Avenir";
}

#overlay {
  position: relative;
  z-index: 2;
  width: 100%;
}

#canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  z-index: 1;
  -webkit-appearance: none;
  transition: 0.3s ease;
}

/* #infoModule {
  position: relative;
  padding-left: 30px;
} */
/* #generalDescription {
  overflow: auto;
  font-size: smaller;
  margin-top: 50px;
  height: calc(100vh - 400px);
} */

h1 {
  color: #3d3d3d;
  padding-left: 30px;
}

.sliderModule {
  position: relative;
  padding-left: 25px;
  width: 350px;
  height: 70px;
  float: left;
}

.sliderProperty {
  position: relative;
  padding-left: 5px;
  float: left;
}

#moduleName {
  position: absolute;
  left: 30px;
  margin-top: 40px;
  color: #3d3d3d;
}

.btn-section {
  z-index: 400;
  top: 70px;
  left: 30px;
  position: absolute;
  background-color: #8b8b8b;
  color: #000000;
  text-align: center;
}

button {
  width: 100px;
  height: 30px;
  /* opacity: 0.5;
  border: none; */
}
button:hover {
  opacity: 1;
}

#loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3d3d3d;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#logoWhite {
  position: absolute;
  width: 177px;
  height: 50px;
  bottom: 50px;
  left: 50px;
  z-index: 2;
}

#dsearch {
  position: absolute;
  bottom: 50px;
  left: 247px;
  color: #ffffff;
  z-index: 2;
  font-size: x-large;
  font-weight: bold;
  text-decoration: none;
}
#dsearch:hover {
  color: hotpink;
}

.label2d {
  color: #fff;
  font-family: sans-serif;
  padding: 2px;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0.5;
}
.label2d:hover {
  opacity: 1;
}

a {
  text-decoration: none;
  color: black;
}

.model-div {
  margin: 30px;
  border: solid 1px black;
  padding: 5px;
}

.model-div h3 {
  font-size: 18px;
}

h3 {
  padding: 5px 100px 5px 0px;
  color: #0d8fa2;
  font-weight: 800;
  font-size: 14px;
  cursor: pointer;
}

.model-header {
  z-index: 100;
  position: relative;
}

.model-description {
  height: 30%;
}

.model-description h2 {
  font-size: 16px;
}

.model-description p {
  font-size: 14px;
}

.model-info-section {
  margin: 30px;
}

.model-info-header .fas {
  margin-right: 10px;
}

.slider-section {
  margin: 30px;
}

.select-list {
  width: 70%;
  background-color: rgb(161, 177, 190, 0.15);
  padding: 5px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  border: none;
  color: #657e93;
}

.slider-div {
  display: block;
  transition: 0.5s ease;
  font-size: 16px;
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
}

.slider-div p {
  color: #657e93;
  font-size: 14px;
  font-weight: 900;
}

.slider-lower-div {
  display: flex;
  width: 100%;
  align-items: center;
}
.slider-lower-div p {
  margin: 0px 5px 0px 0px;
  font-size: 14px;
  width: 35%;
  text-align: left;
}

/* label {
  color: #3d3d3d;
  font-size: 14px;
} */

.slider-section h4 {
  margin-bottom: 5px;
  margin-top: 0px;
}

.drawer-hide {
  right: -500px !important;
  transition: 0.5s ease !important;
}

.drawer {
  height: 100vh;
  width: 500px;
  overflow: scroll;
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: white;
  z-index: 1000;
  transition: 0.5s ease;
}

.drawer-info-btn {
  position: absolute;
  right: 500px;
  top: 0px;
  z-index: 1000;
  background: none;
  color: inherit;
  border: none;
  width: 40px;
  cursor: pointer;
  height: 40px;
  background-color: white;
  color: #0d8fa2;
  transition: 0.5s ease;
}
.drawer-btn-hide {
  right: 0px !important;
  transition: 0.5s ease;
  color: #0d8fa2;
  background-color: white;
}

.active {
  color: white !important;
  background-color: #0d8fa2 !important;
}

.drawer-btn .fas {
  font-size: 24px;
}
.drawer-settings-btn {
  position: absolute;
  right: 500px;
  top: 50px;
  z-index: 1000;
  border: none;
  width: 40px;
  height: 40px;
  background-color: white;
  color: #0d8fa2;
  transition: 0.5s ease;
  cursor: pointer;
}

.data-btn-active {
  background-color: #0d8fa2;
  color: white;
}

.range-container {
  position: relative;
  margin-bottom: 40px;
}

input[type="range"] {
  width: 300px;
  margin: 10px 0;
  -webkit-appearance: none;
  background-color: inherit;
}

input[type="range"]:focus {
  outline: none;
}
label {
  background-color: #0d8fa2;
  color: white;
  position: absolute;
  margin-left: 30%;
  margin-bottom: 12%;
  padding: 5px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

input[type="range"] + label {
  background-color: #0d8fa2;
  color: white;
  position: absolute;
  /* top: -25px; */
  /* left: 110px; */
  width: inherit;
  padding: 5px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Chrome & Safari */
input[type="range"]::-webkit-slider-runnable-track {
  background: #0d8fa2;
  border-radius: 4px;
  width: 100%;
  height: 3px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  background: #fff;
  border-radius: 50%;
  border: 4px solid #0d8fa2;
  transition: 0.3s ease;
  margin-top: -8px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #0d8fa2;
}

/* Firefox */
input[type="range"]::-moz-range-track {
  background: #0d8fa2;
  border-radius: 4px;
  width: 100%;
  height: 14px;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #0d8fa2;
  margin-top: -7px;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb:hover {
  background: #0d8fa2;
}

/* IE */
input[type="range"]::-ms-track {
  background: #0d8fa2;
  border-radius: 4px;
  width: 100%;
  height: 14px;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #0d8fa2;
  margin-top: -7px;
  /* let label = document.createElement("label");
  label.setAttribute("for", p.name);
  label.innerText = p.defaultValue;
  componentDiv.appendChild(label); */
  cursor: pointer;
}

.hidden {
  opacity: 0;
  display: none;
  transition: 0.3s ease;
}

.removed {
  display: none;
}

.show {
  opacity: 1;
  transition: 0.3s ease;
}

.module-section {
  width: 100%;
  margin-bottom: 5px;
}
.module-header {
  display: flex;
  align-items: center;
  z-index: 1000;
}

.module-header h3 {
  margin: 0px;
}

.module-header .fas {
  padding: 5px 10px 5px 0px;
  font-size: 14px;
  color: #0d8fa2;
  transition: 0.3s ease;
  cursor: pointer;
}

.model-info-header .fas {
  padding: 5px 0px 5px 0px;
  font-size: 14px;
  color: #0d8fa2;
  transition: 0.3s ease;
  cursor: pointer;
}

.menuhide {
  display: none !important;
  transform: translateY(-50px);
  transition: 0.5s ease;
}

.arrow-icon {
  float: right;
  width: 14px;
  transition: 0.3s ease;
}

.spin {
  transform: rotateX(180deg);
  transition: 0.3s ease;
}

.logo {
  position: absolute;
  width: 100px;
  z-index: 100;
  bottom: 50px;
  right: 50px;
}

.charts-section {
  margin: 30px;
}

.charts-header {
  display: flex;
  align-items: center;
}

.charts-header .fas {
  color: #0d8fa2;
  padding: 5px 10px 5px 0px;
  font-size: 14px;
  color: #0d8fa2;
  transition: 0.3s ease;
  cursor: pointer;
}

.chart-canvas {
  /* width: 50% !important;
  height: auto !important; */
}

.small-canvas {
  width: calc(100vw - 500px) !important;
  transition: 0.3s ease;
}
